[cta] {
  background-color: transparent;
  color: var(--body-bg-color);
  border-color: currentColor;
}

[link] {
 background-color: transparent;
  color: var(--body-bg-color);
  border-color: currentColor;
}
